.inputOption{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;
    background-color: white;
}

.inputOption:hover{
    background-color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;

    
}

.inputOption h4{
    font-size: 13px;
    font-weight: 500;
    margin-left: 5px;
    white-space: nowrap;
}